[user]
    email = i.yuchi713@gmail.com
    name = yiskw713

[init]
    defaultBranch = main

[core]
    pager = delta
    editor = vim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = zdiff3

[pull]
    rebase = true

[fetch]
    prune = true

[push]
    autoSetupRemote = true

[diff]
    colorMoved = default

[ghq]
    root = ~/work

[alias]
    tree = "log --graph --date=iso --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'"
